# IntelliJ
**/.idea/
**/*.iml

# Maven
**/target/
**/pom.xml.releaseBackup
**/release.properties

# Vagrant
**/.vagrant/

# GPG for CI
ci/gpg/private-key.asc
ci/gpg/random_seed
ci/gpg/*.gpg

# Heroku Deployment Folder
heroku/